@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Audiowide&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Audiowide&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Audiowide&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#panierbutton{  
    width: Hug (105px)px;
    height: Fixed (48px)px;
    top: 31px;
    left: 1356px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border-radius: 6px ;
    border: 1px ;
    opacity: 0px;
    color:white;
}

#userphoto{
    width: 44px;
    height: 44px;
    border-radius: 46px ;
    opacity: 0px;
    background: #EAEDEE;
}

#nav2{
    overflow-x: hidden;
}



#nav2 > div:hover{
    cursor: pointer;
}


#productimage{
    background-image: url("https://s3-alpha-sig.figma.com/img/a697/3509/f0a6397c22547c66edb2d8aa2737a300?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kAgvBKhptyNn2X9wgoUT-2AImt5tPN~DqXmg9ivpm7afXoMGoMccm87TaTIdmy3DVZ2kt62od2NsKxgv8d2xJWMexc2CldAnLMpI2uEHIYxZNe~DKesHflJm7g37IrCHmdXH3P-bVYeL-xK5tTUfbx2RO5Tw4NbRRtpJoMm-6ElwvG98gmIwH-4ptk9z-znzlHf9hyS9jqtKnJ6XdszWzlOVnz~YKnG8a2I1C6uZlt8m3~LHTzwx8Oj7mugjPlLqU8ZyHuGXsDWCKl7jrzeaj9Bl9sdr4ZnVbJgPI1zL~cQlce7eM0BSjgegYhzuKS8boN8eGR5vwL64WcQYlqHUNw__");
    background-size: cover;
    background-position: center;
    background-color: transparent ;
    width: 40vw;
    height: 40vw;
    margin:5vh 5vw;
}

#tableimagesmall{
    background-image: url("https://s3-alpha-sig.figma.com/img/544e/3029/c4c7cd0100e27f205801be034a1511b4?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=aMiUHuZpoRfvCz7IdNj2nYMIEe9tvEPdyyCHF0DOBg8L0OJ0nW5qGr18a6bumiC9KC5NNOc7sPBq2jVeZg87n4UMD7tLNWF5h2a~fDsdjH8EqSlkDaU9YHIbWQtbKQgxbEUJGWIeLkwH2X6VitjFrDWno~7ErXq82GFbCLacNn-W4G439x0Nx318gI1~lWTerCrW~Yq1NrBe3OdSB~8MgZaevo2ZWSsz3Ceb2mmjPctR2710Cv~8XM8ye-cN-~6HqDhBdRsI2ctsjWp7aRm9MvBW0MTsjsMhihSn~DX5Cz4f-wnHu3RJOQjpH6WGyytDlXvAbNju85hZG83l4VpnCQ__");
    
    width:30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    background-color: transparent ;
}

#ArticleItemImage{
    background-image: url("https://s3-alpha-sig.figma.com/img/544e/3029/c4c7cd0100e27f205801be034a1511b4?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UObQ1jdNLafDs35tHDWdbnI2uzfOLubZe~VeQQgEzp-RQ9Sqoq-abOSfTxoGqZ3ilk1R8wmsBLVSD5XErWDgw7ydHqMRBfQjRaaVylP68~6VToFE8bTWnA1~rKuus~oKIvAKV4rfOE8C2VgPnbVGIs4~HEywB-OVRuMP1xKQM84QmxP71f49-CxMzchX8m4xhIugKSLQIajXCgCTH1Gn3fvzzdMqzlExIVky0Z4cHz5qfzEZN5pbt2KWVNeW7c3NDPNh0J92t9KRIk1ZSdLduweifPASbqnUSW~vdt-HmnjDmiuVg75wtE5T9VSWJc0H82waaMtDwq1EOkHWoFyn~g__");
    background-position: center;
    background-size: cover;
    width: 15rem;
    height: 15rem;

}

@media only screen and (max-width: 1150px) {
    #nav2{
        justify-content: left;
        gap: 1.5rem;
        overflow-x: scroll;
    }
  }


@media only screen and (max-width: 700px) {
    #productimage{
        width: 80vw;
        height: 80vw;
    }
    #productcontent{
        flex-direction: column;
    }
    #ArticlesHeading{
        flex-direction: column;
        gap: 10px;
    }
  }
  
  #sofaphoto{
    background-image: urL('https://s3-alpha-sig.figma.com/img/cb2f/10dc/bd417ec3068aec151c8c21328b97422b?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=JgbnqYDwepMZh9oDPGnbOLwF20VADdqnffFbbsgDI51DfdxPH6gh6JxIOItb7Yk5W5un9JJcR0S7NmwbgJyYSqH4nAydsjTKpj09D-qrmw9QvYLd1GXavEoonOeBChj9~dgblj3bjGNgLE8-6g9luyXLN4sAEQjvaNamfEoNooU8zZf0YbL0Snc73bHSEwBJHdltmlPIxwsL-FBRdgObqy2Vdn0OzveGSfIGqdY7aU9pdMHxeZiYGTYl47oLRDJ9HEP~Xkd2bLWs3XaZlUzWHBZ4zNJXWmXfApoSzuKOzEdibF4lBzcQQZ6N64a9ULltgG9~wXkRSRQlXqHiV4mdYg__');

    width: 40%;
    height: 13rem;
    background-position: center;
    background-size: cover;
    transform: scaleX(-1);
  }

  @media only screen and (max-width:900px) {
  
    #productdescriptions{
        flex-direction: column;
        gap:50px
    }
    #productdescriptions > div{
        width:90vw;
    }
    #subscribesection{
        flex-direction: column;
        gap: 20px;
    }
    #sofaphoto{
        width: 100%;
    }
    #subscriptionbutton{
        width: 100%;
        height: fit-content;
        padding-bottom: 20px;
    }
  }
@media only screen and (max-width:900px) {
    #finalpage{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    #finalpage > #social{
        margin-right: auto;
    }

}
  @media only screen and (max-width:1005px) {
    #produitsboxes{
        display: block;
        overflow-x: scroll;
        white-space: nowrap ;
    }
  }
  
  @media only screen and (max-width:550px) {
    #occupeoptions{
        flex-direction: column;
        gap: 2rem;
    }
    #occupeoptions > #occupelines{
        display: none;
    }
  }
  
